.img-logo {
    width: 50px;
    height: auto;
    float: left;
    margin: 10px 2em 0 10px;
}

header .botoes {
    display: inline;
    float: right;
}

header .botoes a {
    margin: 0px 15px;
}

header ul {
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

.link{
    text-decoration: none;
    font-size: 18px;
}

.link:hover{
    color: #0056b3;
}
