.img-logo {
    width: 50px;
    height: auto;
    float: left;
    margin: 10px 20px;
}

.header .botoes {
    display: inline;
    float: right;
}

.header a {
    color: #333333;
    text-decoration: none;
}

.header .title-logo {
    font-size: 30px;
    font-weight: bold;
}

.header .title-logo .vicente {
    display: inline;
    color: #FF0000;
}

.header .title-logo .mecanico {
    display: inline;
    color: #0056b3;
}

.menu ul {
    padding-left: 12.5%;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu .buttons-account-menu {
    display: inline;
    float: right;
}

.menu a {
    font-size: 18px;
}

.menu a:hover {
    color: #0056b3;
}
